@page "{searchString?}"
@model MyScriptureJournal.Pages.JournalEntries.IndexModel

@{
    ViewData["Title"] = "Journal Entries";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">New Entry</a>
</p>

<form>
    <p>
        <select asp-for="RefBook" asp-items="Model.ScriptureBooks">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />


        Sort By: <select asp-for="SortOption">
                    <option value="">None</option>
                    <option value="book">Book</option>
                    <option value="creationDate">Date Created</option>
                    <option value="creationDate">Date Edited</option>
                 </select>
        <input type="submit" value="Sort" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].EditDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].ScriptureRef.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JournalEntry)
        {
            <tr>
                <td >
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.EditDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScriptureRef.Book) 
                </td>
                <td >
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
